<% content_for(:banner) do %>
  <%= render('/application/banner',
             url: asset_url('board.jpg')) %>
<% end %>
<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1><%= title(t('.title')) %></h1>
    </div>
    <%= simple_format(description(t('.first_paragraph'))) %>
    <%= simple_format(t('.second_paragraph')) %>
    <p>
      <%= t('.contact') %> <%= link_to('styrelsen@tlth.se', 'mailto:styrelsen@tlth.se') %>
    </p>

    <p>
      <%= t('.send_meeting_documents') %> <%= link_to('s-handling@tlth.se', 'mailto:s-handling@tlth.se') %>
    </p>

    <%= image_tag('board.jpg', class: 'img-responsive') %>
    <br />
  </div>

	<div class="col-md-12">
	    <h2><%= t('.meeting_documents') %></h2>
				<% @meetings.each do |year, meetings| %>
					<%= render partial: "meetings/meeting", locals: {year: year, meetings: meetings} %>
				<% end %>
	</div>
</div>
