<li class="dd-item" data-id="<%= nav_item.id %>">
  <div class="dd-handle">
    <%= nav_item_title_link(nav_item) %>
    <div class="pull-right">
      <% edit_path = nav_item.page? ? edit_page_path(nav_item.page) : [:edit, nav_item] %>
      <%= link_to edit_path do %>
        <span class="glyphicon glyphicon-edit"></span>
      <% end %>
      <%= link_to nav_item, method: :delete, data: {confirm: t(:confirm_delete)} do %>
        <span class="glyphicon glyphicon-remove"></span>
      <% end %>
    </div>
  </div>
  <% if nav_item.children? %>
    <ol class="dd-list">
      <% nav_item.children.each do |child| %>
        <li class="dd-item" data-id="<%= child.id %>">
          <div class="dd-handle">
            <%= nav_item_title_link(child) %>
            <div class="pull-right">
              <% edit_path = child.page? ? edit_page_path(child.page) : [:edit, child] %>
              <%= link_to edit_path do %>
                <i class="glyphicon glyphicon glyphicon-edit"></i>
              <% end %>
              <%= link_to child, method: :delete, data: {confirm: t(:confirm_delete)} do %>
                <span class="glyphicon glyphicon-remove"></span>
              <% end %>
            </div>
          </div>
        </li>
      <% end %>
    </ol>
  <% end %>
</li>
