<div class="page-header">
  <h1>Navigation Handling</h1>
</div>

<div class="panel panel-default">
  <table class="table">
    <thead>
      <tr>
        <th>Father</th>
        <th>Item</th>
        <th>Children</th>
      </tr>
    </thead>
    <tbody>
      <% @nav_items.each do |father| %>
        <tr>
          <td><%= father.title %></td>
          <td></td>
          <td></td>
        </tr>
        <% father.children.each do |nav_item| %>
          <tr>
            <td></td>
            <td>
              <%= nav_item.title unless nav_item.has_page? %>
              <%= link_to nav_item.title, nav_item.page if nav_item.has_page? %>
              <%= link_to nav_item_path(nav_item), method: :delete, class: "btn btn-danger btn-xs" do %>
                <span class="glyphicon glyphicon-remove"></span>
              <% end %>
            </td>
            <td></td>
          </tr>
          <% nav_item.children.each do |child| %>
            <tr>
              <td></td>
              <td></td>
              <td>
                <%= child.title unless child.has_page? %>
                <%= link_to child.title, child.page if child.has_page? %>
                <%= link_to nav_item_path(child), method: :delete, class: "btn btn-danger btn-xs" do %>
                  <span class="glyphicon glyphicon-remove"></span>
                <% end %>
              </td>
            </tr>
          <% end %>
          <tr>
            <td></td>
            <td></td>
            <td><%= link_to "New Child", new_nav_item_path(parent: nav_item.id), class: "btn btn-success btn-xs" %></td>
          </tr>
        <% end %>
        <tr>
          <td></td>
          <td><%= link_to "New Item", new_nav_item_path(parent: father.id), class: "btn btn-success btn-xs" %></td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
