<div class="panel panel-default">
  <div class="panel-body">
    <strong>Name: </strong><%= user.name %><br>
    <strong>Email: </strong><%= user.email %>
    <% contact_form = @page.contact_forms.where( user: user ).first %>
    <% if contact_form.blank? %>
      <%= link_to "Add form", new_page_contact_form_path(@page, user: user.id) if can? :manage, @page %>
    <% else %>
      <%= link_to "Edit form", edit_contact_form_path(contact_form, user: user.id) if can? :manage, @page %>
      <%= link_to "Show form", contact_form_path(contact_form) %>
    <% end %>
  </div>
</div>
