<div class="contact">
  <div class="contact-img">
  <%= image_tag user.profile_image.url, class: "img-responsive" if user.profile_image.present? %>
  </div>
  <span class="contact-name"><%= user.name %></span>
  <span class="contact-title"><%= user.title %></span><br>
  <%= user.email %><br>
  <span class="contact-phone"><%= user.phonenumber %></span>

  <% contact_form = @page.contact_forms.find_by(user: user) %>
  <p>
    <% if contact_form.present? %>
      <%= link_to (contact_form.title || t('.contact')), contact_form_path(contact_form) %><br>
    <% end %>
  </p>
  <p class="contact-form-tools">
    <% if can? :edit, @page %>
      <%= link_to t('.remove_contact'), remove_user_page_path(@page, user_id: user.id), method: :delete %>
    <% end %>
    <% if contact_form.blank? && can?(:edit, @page) %>
      | <%= link_to t('.add_contact_form'), new_page_contact_form_path(@page, user: user.id) %>
    <% elsif can?(:edit, contact_form) %>
      | <%= link_to t('.edit_contact_form'), edit_contact_form_path(contact_form, user: user.id) %>
    <% end %>
  </p>
</div>
