<table class="table">
  <thead>
    <th>Name</th>
    <th>Email</th>
    <th>Title</th>
    <th>Phone Number</th>
    <th>Role</th>
    <th>Tools</th>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.title %></td>
        <td><%= user.phonenumber %></td>
        <td><%= user.role %></td>
        <td>
          <%= link_to t('.send_password'), user_new_password_email_path(user) %>
          <%= link_to t(:edit), edit_user_path(user) %>
          <%= link_to t(:delete), user_path(user), method: :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<% content_for :sidebar do %>
  <div class="row">
    <h3><%= t(:tools) %></h3>
    <ul>
      <li><%= link_to t('.new_user'), new_user_path %></li>
    </ul>
  </div>
<% end %>
