<div class="modal fade" id="insertImageModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"></button>
        <!-- Nav tabs -->
        <ul class="nav nav-pills" id="image-modal-tabs">
          <li class="active">
            <a href="#image-select-tab" data-toggle="tab">
              <%= t('.image_gallery') %>
            </a>
          </li>

          <li>
            <a href="#image-upload-tab" data-toggle="tab">
              <%= t('.image_uploader') %>
            </a>
          </li>
        </ul>
      </div><!-- modal-header -->

      <!-- Tab panes -->
      <div class="tab-content">
        <!-- Select Tab -->
        <div class="tab-pane active" id="image-select-tab">
          <div class="modal-body" id="image-select-body">
            <%= render partial: 'images/image_small', collection: @images , as: :image %>
          </div>

          <div class="modal-footer">
            <div class="pull-left">
              <%= render 'images/image_search_footer' %>
            </div>
            <div class="pull-right">
              <button id="insert-image" type="button" class="btn btn-primary pull-right">
                <%= t(:select) %>
              </button>
            </div>
          </div>
        </div>

        <!-- Upload tab -->
        <div class="tab-pane" id="image-upload-tab">
          <div class="modal-body">
            <%= render 'shared/image_form', remote: true %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
