<% presenter.months.each do |month| %>
  <%= render 'events/event_calendar_month', presenter: presenter,
                                            month: month %>
<% end %>

<div class="col-xs-12">
  <!-- Link to previous month -->
  <%= link_to events_path(offset: presenter.offset - 1) do %>
    <span class="glyphicon glyphicon-chevron-left"></span>
    <%= t('.previous_month') %>
  <% end %>

  <!-- Link to next month -->
  <%= link_to events_path(offset: presenter.offset + 1), class: "pull-right" do %>
    <span class="glyphicon glyphicon-chevron-right pull-right"></span>
    <%= t('.next_month') %>
  <% end %>
</div>
