<% months = [@this_month.last_month, @this_month, @this_month.next_month] %>
<%= render partial: 'events/event_calendar_month', collection: months, as: :month %>

<div class="col-xs-12">
  <!-- Link to previous month -->
  <%= link_to events_path(offset: @offset - 1), remote: true do %>
    <span class="glyphicon glyphicon-chevron-left"></span>
    <%= t('.previous_month') %>
  <% end %>

  <!-- Link to next month -->
  <%= link_to events_path(offset: @offset + 1), remote: true, class: "pull-right" do %>
    <span class="glyphicon glyphicon-chevron-right pull-right"></span>
    <%= t('.next_month') %>
  <% end %>
</div>
