<div class="page-header">
  <h1><%= t('.heading') %></h1>
</div>

<%= bootstrap_form_tag url: events_change_cover_update_path, layout: :horizontal do |f| %>

  <%= image_tag @image.url, id: "preview-image", class: "preview-image img-thumbnail" if @image.present? %>
  <%= image_tag "cover.jpg", id: "preview-image", class: "preview-image img-thumbnail" if @image.blank? %>
  <%= f.hidden_field :image_id %>

  <%= button_tag t('.select_image'), type: :button, class: "btn btn-default", id: "image-button" %>
  <%= link_to t('.delete_cover'), events_delete_cover_path, method: :delete, class: "btn btn-danger", data: {confirm: t(:confirm_delete)} if @image.present? %>
  <%= f.submit t(:save) %>
<% end %>

<%= render 'shared/image_select_modal' %>
