<% content_for(:banner) do %>
  <%= render('/application/banner',
             url: asset_url('cover.jpg', host: PUBLIC_URL)) %>
<% end %>

<div class="page-header">
  <h1><%= t('.event') %></h1>
</div>

<div id="event-calendar">
  <%= render 'event_calendar', presenter: @event_presenter %>
</div>

<% content_for :sidebar do %>
  <div class="row">
    <h3>
      <%= t(:tools) %>
      <%= fa_icon('wrench', class: 'pull-right') %>
    </h3>
    <ul>
      <% if can? :manage, Event %>
        <li><%= link_to t('.new_event'), new_event_path %></li>
      <% end %>
      <li><%= link_to t('.webcal'),
                      events_url(protocol: 'webcal',
                                 format: :ics,
                                 params: { locale: I18n.locale }) %></li>
    </ul>
  </div>

  <div class="row">
    <%= render 'filter', path: events_path, tags: @tags %>
  </div>
<% end %>
