<div class="page-header">
  <h1><%= t('.event') %></h1>
</div>

<% [@this_month.last_month, @this_month, @this_month.next_month].each do |month| %>
  <div class="col-md-4">
    <h3><%= t(:"date.month_names")[month.strftime("%-m").to_i] %></h3>
    <% if @events[month].present? %>
      <% @events[month].keys.sort.each do |week| %>
        <h5 class="event-weeknbr"><%= t('.week', week: week) %></h5>
        <ul class="event-week">
          <% @events[month][week].sort_by!(&:start_time) %>
          <% @events[month][week].each do |event| %>
            <li>
              <span style="font-weight: bold;"><%= l(event.start_time, format: :week_day) %></span>
              <%= link_to event.title, event %>
            </li>
          <% end %>
        </ul>
      <% end %>
    <% else %>
      <%= t('.no_events') %>
    <% end %>
  </div>
<% end %>

<div class="col-xs-12">
  <%= link_to events_path(offset: @offset - 1) do %>
    <span class="glyphicon glyphicon-chevron-left"></span><%= t('.previous_month') %>
  <% end %>
  <%= link_to events_path(offset: @offset + 1), class: "pull-right" do %>
    <span class="glyphicon glyphicon-chevron-right pull-right"></span><%= t('.next_month') %>
  <% end %>
</div>

<% content_for :sidebar do %>
  <div class="row">
    <h3><%= t(:tools) %><span class="pull-right sidebar-glyph glyphicon glyphicon-wrench"></span></h3>
    <ul>
      <% if can? :manage, Event %>
        <li><%= link_to t('.new_event'), new_event_path %></li>
        <li><%= link_to t('.new_event_group'), new_event_group_path %></li>
      <% end %>
      <li><%= link_to t('.webcal'), events_path(protocol: 'webcal', format: :ics, :only_path => false) %></li>
    </ul>
  </div>

  <div class="row">
    <h3><%= t(:filter) %><span class="pull-right sidebar-glyph glyphicon glyphicon-search"></span></h3>
    <%= bootstrap_form_tag url: events_path, method: 'get' do |f| %>
      <p>
        <%= f.collection_select :tag, @tags, :id, :title, { include_blank: true, label: t('.filter') }, { id: 'select2'} %>
        <%= f.submit %>
        <%= link_to t(:reset), events_path %>
      </p>
    <% end %>
  </div>
<% end %>
