<div class="page-header">
  <h1><%= t('.event') %></h1>
</div>

<div id="event-calendar">
  <%= render 'event_calendar' %>
</div>

<% content_for :sidebar do %>
  <div class="row">
    <h3><%= t(:tools) %><span class="pull-right sidebar-glyph glyphicon glyphicon-wrench"></span></h3>
    <ul>
      <% if can? :manage, Event %>
        <li><%= link_to t('.new_event'), new_event_path %></li>
      <% end %>
      <li><%= link_to t('.webcal'), events_path(protocol: 'webcal', format: :ics, :only_path => false) %></li>
    </ul>
  </div>

  <div class="row">
    <%= render 'filter', path: events_path %>
  </div>
<% end %>
