<div class="page-header">
  <h1><%= @event.title %></h1>
  <div class="lead"><%= @event.tags.to_a.join(', ') %></div>
</div>

<p class="event-date">
  <%= t('.start') %> <%= l(@event.start_time) %><br>
  <%= t('.end') %>   <%= l(@event.end_time) %>
</p>

<p><%= @event.description %></p>

<% content_for :sidebar do %>
  <div class="row">
    <h3><%= t(:tools) %><span class="pull-right sidebar-glyph glyphicon glyphicon-wrench"></span></h3>
    <ul>
      <% if can? :edit, Event %>
        <li><%= link_to t(:edit), edit_event_path(@event) %></li>
        <li><%= link_to t(:destroy), event_path(@event), method: :delete %></li>
      <% end %>
    </ul>
  </div>
<% end %>
