<div class="page-header">
  <h1><%= @event.title %></h1>
  <div class="lead"><%= @event.description %></div>
  <%= link_to t(:back), events_path, class: "btn btn-default" %>
  <%= link_to t(:edit), edit_event_path(@event), class: "btn btn-default" %>
</div>

Start: <%= @event.start_time %> <br>
End: <%= @event.end_time %> <br>
Group: <%= @event.event_group %> <br>
