<%= bootstrap_form_tag url: settings_path do |form| %>
  <%= form.fields_for :settings do |f| %>
    <h3><%= t('.cover_images') %></h3>
    <% @cover_images.each do |img| %>
      <%= image_tag(img.thumb_url) %>
    <% end %>
    <br>

    <%= button_tag t('.select_cover_images'), type: :button,
                                              class: "btn btn-default",
                                              id: "image-button" %>
    <%= link_to(t('.new_upload'), new_image_path, class: 'btn btn-default') %>
    <br>
    <br>
    <%= f.collection_select(:cover_image_ids, @images, :id, :id,
                                              {selected: Settings.cover_image_ids,
                                               label: t('.cover_images')},
                                              {multiple: true, class: ''}) %>
    <%= f.text_field(:front_page_video, value: Settings.front_page_video,
                                        help: t('.front_page_video_hint')) %>
  <% end %>
  <%= form.submit %>
<% end %>
<%= render 'images/cover_image_modal' %>
