<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#sv" role="tab" data-toggle="tab">
    Svenska
    <% if (@exists || false) && (@page.content_sv.blank? || @page.title_sv.blank?) %>
      <span class="glyphicon glyphicon-warning-sign"></span>
    <% end %>
  </a></li>
  <li><a href="#en" role="tab" data-toggle="tab">
    Engelska
    <% if (@exists || false) && (@page.content_en.blank? || @page.title_en.blank?) %>
      <span class="glyphicon glyphicon-warning-sign"></span>
    <% end %>
  </a></li>
</ul>

<!-- Tab panes -->
<%= bootstrap_form_for @page, layout: :horizontal do |f| %>
  <div class="tab-content">
    <div class="tab-pane active" id="sv">
      <%= f.text_field :title_sv %>
      <%= f.text_field :slug %>
      <%= f.form_group do %>
        <%= f.pagedown_input :content_sv %>
      <% end %>
    </div>
    <div class="tab-pane" id="en">
      <%= f.text_field :title_en %>
      <%= f.text_field :slug %>
      <%= f.form_group do %>
        <%= f.pagedown_input :content_en %>
      <% end %>
    </div>
  </div>
  <%= f.hidden_field :parent, value: @parent if @parent %>
  <%= f.hidden_field :create_nav, value: @create_nav if @create_nav %>
  <%= f.submit t(:save) %>
<% end %>
