<div class="page-header">
  <h1><%= t('.heading') %></h1>
</div>

<%= bootstrap_form_for @page, layout: :horizontal do |f| %>

  <%= image_tag @image.url, id: "preview-image", class: "preview-image img-thumbnail" if @image.present? %>
  <%= image_tag "cover.jpg", id: "preview-image", class: "preview-image img-thumbnail" if @image.blank? %>
  <%= f.hidden_field :image_id %>

  <%= button_tag t('.select_image'), type: :button, class: "btn btn-default", id: "image-button" %>
  <%= link_to t('.delete_cover'), page_delete_cover_path(@page), method: :delete, class: "btn btn-danger" if @image.present? %>
  <%= f.submit %>
<% end %>

<%= render 'shared/image_select_modal' %>
