<div class="page-header">
  <h1><%= t('.page_management') %></h1>
</div>


<div class="col-xs-12"><%= render @nav_items, level: 1 %></div>

<h2><%= t('.hidden_pages') %></h2>

<div class="col-xs-12">
  <div class="col-xs-12">
    <% @orphan_pages.each do |page| %>
      <div class="panel panel-default">
        <div class="panel-body-sm">
          <%= link_to page.title, page %>
          <% if can? :manage, page %>
            <div class="pull-right">
              <%= link_to edit_page_path(page), class: "btn btn-default btn-xs" do %>
                <span class="glyphicon glyphicon-edit"></span>
              <% end %>
              <%= link_to page, method: :delete, class: "btn btn-danger btn-xs" do %>
                <span class="glyphicon glyphicon-remove"></span>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<% if can? :create, Page %>
  <% content_for :sidebar do %>
    <div class="row">
      <h3><%= t(:tools) %><span class="pull-right sidebar-glyph glyphicon glyphicon-wrench"></span></h3>
      <ul>
        <li><%= link_to t('pages.new_nav_item'), new_nav_item_path %></li>
        <li><%= link_to t('pages.new_page'), new_page_path(create_nav: true) %></li>
        <li><%= link_to t('pages.new_hidden_page'), new_page_path %></li>
      </ul>
    </div>
  <% end %>
<% end %>

<iframe class="podio-webform-frame" id="podioWebForm664075521630" height="400" style="width:100%;border:none;" allowtransparency="true" frameborder="0" scrolling="no" src="https://podio.com/webforms/8988937/664075/disabled?domain=localhost:3000#http%3A%2F%2Flocalhost%3A3000%2Ftets"></iframe>
