<div class="page-header">
  <h1><%= t('.page_management') %></h1>
</div>

<h2><%= t('.navigation') %> <small>Drag n' Drop</small></h2>

<div class="dd">
  <ol class="dd-list">
    <%= render @nav_items %>
  </ol>
</div>

<h2><%= t('.hidden_pages') %></h2>

<ul class="list-unstyled">
  <% @orphan_pages.each do |page| %>
    <li>
      <%= link_to page.title, page %>
      <div class="pull-right">
        <%= link_to edit_page_path(page) do %>
          <span class="glyphicon glyphicon-edit"></span>
        <% end %>

        <%= link_to page, method: :delete, data: {confirm: t(:confirm_delete)} do %>
          <span class="glyphicon glyphicon-remove"></span>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>

<% if can? :create, Page %>
  <% content_for :sidebar do %>
    <div class="row">
      <h3>
        <%= t(:tools) %>
        <span class="pull-right sidebar-glyph glyphicon glyphicon-wrench"></span>
      </h3>
      <ul>
        <li><%= link_to t('.save_nav_item_order'), '#', id: 'save-nav-item-order' %></li>
        <li><%= link_to t('pages.new_nav_item'), new_nav_item_path %></li>
        <li><%= link_to t('pages.new_page'), new_page_path %></li>
      </ul>
    </div>
  <% end %>
<% end %>
