<div class="page-header">
  <h1><%= @page.title %></h1>
</div>

<% if @page.content(fallback: false).present? %>
  <%= process_into_html(@page.content) %>
<% else %>
  <div class="alert alert-warning" role="alert">
    <%= t('.no_content') %>
  </div>
  <%= process_into_html(@page.content) %>
<% end %>

<% content_for :sidebar do %>
  <% if can? :update, @page %>
    <div class="row">
      <h3><%= t(:tools) %><span class="pull-right sidebar-glyph glyphicon glyphicon-wrench"></span></h3>
        <ul>
          <li><%= link_to t('.add_user'), page_add_user_path(@page) %></li>
          <li><%= link_to t('.edit_page'), edit_page_path(@page) %></li>
          <li><%= link_to t('.change_cover'), page_change_cover_path(@page) %></li>
        </ul>
    </div>
  <% end %>
  <% if @page.contacts.present? %>
    <div class="row">
      <h3><%= t('pages.contacts') %><span class="pull-right sidebar-glyph glyphicon glyphicon-user"></span></h3>
      <%= render @page.contacts %>
    </div>
  <% end %>
<% end %>
