<div class="page-header">
  <h1><%= @page.title %></h1>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <%= @page.content_html %>
  </div>
</div>

<%= render @page.contacts %>
<%= link_to "Add User to page", page_add_user_path(@page), class: "btn btn-success" %>

<%= link_to "redigera", edit_page_path(@page), class: "btn btn-default" if can?(:edit, @page) %>
