<% headline ||= :h2 %>
<div class="document">
  <%= content_tag(headline, document.title) %>
  <%= simple_format(document.description) %>
  <div class="buttons">
    <%= link_to(t('.show'), document_path(document),
                            target: :blank_p,
                            class: 'btn btn-default') %>
    <% if can?(:manage, document) %>
      <%= link_to(t('.edit'), edit_document_path(document),
                              target: :blank_p,
                              class: 'btn btn-default') %>
    <% end %>
  </div>
  <% if document.meeting.present? %>
    <span class="revision">
      <%= t('.last_revision') %>
      <%= document.meeting %>
    </span>
  <% end %>
</div>
