<%= bootstrap_form_for(document, layout: :horizontal) do |f| %>
  <%= f.text_field(:title_sv) %>
  <%= f.text_field(:title_en) %>
  <%= f.text_area(:description_sv) %>
  <%= f.text_area(:description_en) %>
  <%= f.file_field(:file_sv) %>
  <div class="col-sm-10 col-sm-offset-2">
    <%= simple_format(document.filename) %>
  </div>
  <%= f.file_field(:file_en) %>
  <div class="col-sm-10 col-sm-offset-2">
    <%= simple_format(document.filename(locale: 'en')) %>
  </div>
  <%= f.select(:meeting_id,
               options_from_collection_for_select(Meeting.by_order, :id, :to_s, selected: document.meeting_id),
               { include_blank: true }, { class: 'select2' }) %>
  <%= f.select(:category,
               options_for_select(document_categories, document.category),
               {}, { class: 'select2' }) %>
  <%= f.submit %>
<% end %>
