<div class="page-header">
  <h1><%= t('shared.tags') %></h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th><%= t('.title') %> </th>
      <th><%= t('.resources') %></th>
      <th><%= t(:tools) %></th>
    </tr>
  </thead>
  <tbody>
    <% @tags.each do |tag| %>
      <tr>
        <td><%= tag.title %></td>
        <td>
          <%= link_to t('.show_posts'), archive_posts_path(tag: tag) %>
          <%= link_to t('.show_images'), images_path(tag: tag) %>
        </td>
        <td>
          <%= link_to t(:edit), edit_tag_path(tag) if can? :edit, tag %>
          <%= link_to t(:delete), tag_path(tag), method: :delete, data: {confirm: t(:confirm_delete)} if can? :delete, tag %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% content_for :sidebar do %>
  <% if can? :create, Tag %>
    <div class="row">
      <h3><%= t(:tools) %><span class="pull-right sidebar-glyph glyphicon glyphicon-wrench"></span></h3>
      <ul>
        <li><%= link_to t('.new_tag'), new_tag_path %></li>
      </ul>
    </div>
  <% end %>
<% end %>
