<%= bootstrap_form_for @post, layout: :horizontal do |f| %>
  <%= f.text_field :title_sv %>
  <%= f.text_field :title_en %>


  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#sv" role="tab" data-toggle="tab">
      Svenska
      <% if (@exists || false) && (@post.content_sv.blank? || @post.title_sv.blank?) %>
        <span class="glyphicon glyphicon-warning-sign"></span>
      <% end %>
    </a></li>
    <li><a href="#en" role="tab" data-toggle="tab">
      Engelska
      <% if (@exists || false) && (@post.content_en.blank? || @post.title_en.blank?) %>
        <span class="glyphicon glyphicon-warning-sign"></span>
      <% end %>
    </a></li>
  </ul>

  <!-- Tab Panes -->
  <div class="tab-content">
    <div class="tab-pane active" id="sv">
      <%= f.form_group nil, label: { text: t('.content') } do %>
        <%= f.pagedown_input :content_sv %>
      <% end %>
    </div>
    <div class="tab-pane" id="en">
      <%= f.form_group nil, label: { text: t('.content') } do %>
        <%= f.pagedown_input :content_en %>
      <% end %>
    </div>
  </div>

  <%= f.collection_select :tag_ids, @tags, :id, :title, { include_blank: true, label: t('.tags') }, { id: 'select2', multiple: true } %>
  <%= f.submit t(:save) %>
<% end %>

<% @images = Image.all %>
<!-- Modal -->
<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="imageModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <% @images.each do |image| %>
            <% if image.image_stored? %>
              <div class="col-sm-3">
                <%= image_tag image.image.thumb('300x300#').url, class: "img-select img-responsive img-thumbnail", data: { source: image.image.url } %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="modal-footer">
        <button id="modal-close" type="button" class="btn btn-default"><%= t(:close) %></button>
        <button id="img-submit" type="button" class="btn btn-primary"><%= t(:select) %></button>
      </div>
    </div>
  </div>
</div>
