<div class="post">
  <div class="media">
    <div class="media-body">
      <div class="media-heading">
        <h2><%= post.title %></h2>
      </div>
      <p><%= news_html truncate(post.content, length: 300) %></p>
      <div class="post-tools">
        <%= link_to t(:edit), edit_post_path(post) if can? :edit, post %>
        <%= link_to t(:destroy), post_path(post), method: :delete if can? :destroy, post %>
        <div class="pull-right">
          <%= link_to t(:read_more), post_path(post, archive: (@archive ||= false)) %>
        </div>
      </div>
    </div>
  </div>
</div>
