<% if @posts.blank? %>
  <h3><%= t('.no_posts') %></h3>
  <%= t('.no_posts_lead') %>
<% end %>
<%= render @posts %>
<%= will_paginate @posts, renderer: BootstrapPagination::Rails %>


<% content_for :sidebar do %>
  <div class="row">
    <%= render 'filter', path: posts_archive_path %>
  </div>
<% end %>
