<div class="news-feed">
  <div class="media">
    <div class="media-body">
      <div class="media-heading">
        <h1><%= t('.welcome') %></h1>
      </div>
      <div class="lead">
        <p><%= Settings[:index_leads][I18n.locale] %></p>
      </div>
    </div>
  </div>
  <%= render @posts %>
  <div class="post-links">
    <%= link_to t('.archive'), archive_posts_path %>
    |
    <%= link_to t('.rss'), posts_path(format: :rss) %>
  </div>
  <%= auto_discovery_link_tag(:rss, { action: :index }, { title: "TLTH" }) %>
</div>

<% content_for :sidebar do %>
  <%= render 'sidebar' %>
<% end %>
