<% if @post.image %>
  <div class="col-sm-12">
    <%= image_tag @post.image.image.url, class: "post-image" %>
  </div>
<% end %>
<div class="page-header">
  <h1><%= @post.title %></h1>
  <div class="lead">
    <p class="published-date">
      <%= t('.published') %>
      <%= l(@post.created_at, format: :short)  %>
      <% if @post.updated_at >= @post.created_at + 1.hour %>
        <%= t('.updated_at') %>
        <%= l(@post.updated_at, format: :short)  %>
      <% end %>
    </p>
    <% if @archive %>
      <%= link_to t(:back), archive_posts_path %>
    <% else %>
      <%= link_to t(:back), posts_path %>
    <% end %>
  </div>
</div>

<% if @post.content(fallback: false).present? %>
  <%= process_into_html(@post.content) %>
<% else %>
  <div class="alert alert-warning" role="alert">
    <%= t('.no_content') %>
  </div>
  <%= process_into_html(@post.content) %>
<% end %>

<% if can? :edit, @post %>
  <% content_for :sidebar do %>
    <div class="row">
      <h3><%= t(:tools) %><span class="pull-right sidebar-glyph glyphicon glyphicon-wrench"></span></h3>
        <ul>
          <li><%= link_to t('.edit_post'), edit_post_path(@post) %></li>
        </ul>
    </div>
  <% end %>
<% end %>
