<div class="page-header">
  <h1><%= @post.title %></h1>
  <div class="lead">
    <p class="published-date">
      <%= t('.published') %>
      <%= l(@post.created_at, format: :short)  %>
      <% if @post.updated_at >= @post.created_at + 1.hour %>
        <%= t('.updated_at') %>
        <%= l(@post.updated_at, format: :short)  %>
      <% end %>
    </p>
    <%= link_to t(:back), (@archive ? archive_posts_path : posts_path) %>
  </div>
</div>

<% if @post.content(fallback: false).blank? %>
  <div class="alert alert-warning" role="alert">
    <%= t('.no_content') %>
  </div>
<% end %>
<%= raw @post.content %>

<% if can? :edit, @post %>
  <% content_for :sidebar do %>
    <div class="row">
      <h3>
        <%= t(:tools) %>
        <span class="pull-right sidebar-glyph glyphicon glyphicon-wrench"></span>
      </h3>
      <ul><li><%= link_to t('.edit_post'), edit_post_path(@post) %></li></ul>
    </div>
  <% end %>
<% end %>
