<%= bootstrap_nested_form_for @contact_form do |f| %>
  <%= f.text_field :title %>

  <%= f.fields_for :questions %>
  <p><%= f.link_to_add t('.add_question'), :questions %></p>

  <%= f.submit %>
<% end %>
