<div class="page-header">
  <h3><%= @contact_form.title %></h3>
</div>

<%= bootstrap_form_tag url: contact_form_send_mail_path(@contact_form), method: :post do |f| %>

  <% if current_user %>
    <%= f.hidden_field :sender_email, value: current_user.email %>
  <% else %>
    <%= f.text_field :sender_email %>
  <% end %>

  <% @contact_form.questions.each do |q| %>
      <%= f.text_area q.content, name: "answer[#{q.id}]" %>
  <% end %>

    <%= f.hidden_field :user, value: @contact_form.user.id %>
  <%= f.submit %>
<% end %>
