<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th><%= t('.file_name') %></th>
      <th><%= t('.type') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @uploads.each do |upload| %>
      <tr>
        <td><%= link_to upload.file_name, upload %></td>
        <td><%= upload.file_type %></td>
        <td>
          <%= link_to "#", href: "#", class: "copy-button", data: {'clipboard-text': request.base_url + upload.file.url} do %>
            <span class="glyphicon glyphicon-file"></span>
          <% end %>
          <%= link_to upload, method: :delete, data: {confirm: t(:confirm_delete)} do %>
            <i class="glyphicon glyphicon-trash"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tr>
  </tbody>
</table>

<script>
var client = new ZeroClipboard($(".copy-button"));
</script>

<%= paginate @uploads, remote: true %>
