<div class="page-header">
  <h1><%= t('.uploads') %></h1>
</div>

<div id="uploads-table">
  <%= render 'uploads_table' %>
</div>

<% if can? :create, Upload %>
  <% content_for :sidebar do %>
    <div class="row">
      <h3>
        <%= t(:tools) %>
        <%= fa_icon('wrench', class: 'pull-right') %>
      </h3>
      <ul>
        <li><%= link_to t('.new_upload'), new_upload_path %></li>
        <hr />
        <li><%= link_to t('.new_document'), new_document_path %></li>
        <li><%= link_to t('.documents'), documents_path %></li>
        <hr />
        <li><%= link_to t('.new_image'), new_image_path %></li>
        <li><%= link_to t('.images'), images_path %></li>
      </ul>
    </div>
  <% end %>
<% end %>
