<% cache cache_key_banner_carousel do %>
  <div class="banner-wrapper">
    <div id="banner" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <% pages.count.times do |index| %>
          <% active = index == 0 ? 'active' : '' %>
          <li data-target="#banner" class="<%= active %>" data-slide-to="<%= index %>"></li>
        <% end %>
      </ol>

      <div class="carousel-inner" role="listbox">
        <% pages.each_with_index do |page, index| %>
          <% if page.image %>
            <% active = index == 0 ? 'active' : '' %>
            <div class="item <%= active %>">
              <%= link_to page do %>
                <%= image_tag page.image.image.thumb('1440x440#').url, size: '1440x440' %>
              <% end %>
              <div class="carousel-caption">
                <h3><%= link_to page.title, page %></h3>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <%= link_to pages.first, id: 'logo-link' do %>
      <%= image_tag("white_stand_#{I18n.locale}.svg", id: 'logo', size: '440x240') %>
    <% end %>
  </div>
<% end %>
