<% path ||= root_path %>
<% tags ||= [] %>

<h3>
  <%= t(:filter) %>
  <%= fa_icon('search', class: 'pull-right') %>
</h3>

<%= bootstrap_form_tag url: path, method: 'get', remote: true do |f| %>
  <p>
    <%= f.select :tags, tags.collect { |t| [t.title, t.id] },
                        { label: t('helpers.tags'), include_blank: false },
                        { multiple: true, class: 'select2' } %>
    <%= f.submit t('search') %>
    <%= link_to t('reset'), path, class: 'btn btn-default pull-right' %>
  </p>
<% end %>
