<div class="footer">
  <div class="container">
      <div class="col-sm-3">
        <p><%= t('.opening_hours') %></p>
      </div>
      <div class="col-sm-3">
        <p><%= t('.telephone') %></p>
      </div>
      <div class="col-sm-3">
        <p><%= t('.email') %></p>
      </div>
      <div class="col-sm-3">
        <p>
        <% if current_user %>
          <%= current_user.email %>
          <%= link_to t(:log_out), destroy_user_session_path, method: :delete %>
        <% else %>
          <%= navbar_item t(:log_in), new_user_session_path unless current_user %>
        <% end %>
        </p>
      </div>
  </div>
</div>
