<%= navbar fixed: :top do %>
  <%= navbar_header brand: 'TLTH' %>
  <%= navbar_collapse do %>
    <%= navbar_group align: 'right' do %>
      <% if current_user %>
        <%= navbar_text current_user.email %>
        <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <%= navbar_item "Log In", new_user_session_path %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
