<% @nav_row = NavItem.orphans.order("position ASC") %>
<% @locale = I18n.locale %>
<%= navbar fixed: :top, container: 'fluid' do %>
  <%= navbar_collapse do %>
    <%= navbar_group do %>
      <li><%= navbar_item t('.start'), root_path %></li>
      <%= render 'nav_items' %>
      <li><%= navbar_item t('.events'), events_path %></li>
      <li><%= navbar_item t('.images'), images_path %></li>
      <li><%= navbar_item t('.tags'), tags_path %></li>
      <% if current_user %>
        <%= navbar_dropdown current_user.email do %>
          <li><%= navbar_item t('.page_management'), pages_path if can? :manage, Page %></li>
          <li><%= navbar_item t('.user_management'), users_path if can? :manage, User %></li>
          <%= navbar_dropdown_divider %>
          <li><%= navbar_item t('.account_settings'), edit_user_path(current_user) %></li>
        <% end %>
      <% end %>
      <li><%= link_to "Svenska", swedish_locale_path if @locale == :en %></li>
      <li><%= link_to "English", english_locale_path if @locale != :en %></li>
    <% end %>
  <% end %>
<% end %>
