<div class="navbar navbar-default navbar-fixed-top">
  <div id="navbar-container" class="container">
    <%= navbar_header %>
    <%= navbar_collapse do %>
      <%= navbar_group do %>
        <li><%= navbar_item t('.start'), root_path %></li>
        <!-- Nav items -->
        <% @nav_row.each do |nav_item| %>
          <% if nav_item.children? %>
            <li class="dropdown">
              <% link = (nav_item.nav_item_type == 'menu' ? '#' : nav_item.link) %>
              <a href="<%= link %>" class="dropdown-toggle" data-toggle="dropdown">
                <%= nav_item.item_title %> <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <% nav_item.children.each do |child| %>
                  <%# asd if child.nav_item_type == 'page' %>
                  <%= navbar_item child.item_title, child.link %>
                <% end %>
              </ul>
            </li>
          <% else %>
            <%= navbar_item nav_item.item_title, nav_item.link %>
          <% end %>
        <% end %>
        <li><%= link_to "Svenska", swedish_locale_path(url: request.path) if @locale == :en %></li>
        <li><%= link_to "English", english_locale_path(url: request.path) if @locale != :en %></li>
      <% end %>
    <% end %>
  </div>
</div>
