<% @nav_row = NavItem.orphans.order("position ASC") %>
<%= navbar fixed: :top do %>
  <%= navbar_header brand: 'TLTH' %>
  <%= navbar_collapse do %>
    <%= navbar_group do %>
      <% @nav_row.each do |nav_item| %>
        <% if nav_item.children.count > 0 %>
          <%= navbar_dropdown nav_item.item_title do %>
            <% nav_item.children.each do |child| %>
              <% if child.has_page? %>
                <%= navbar_item child.item_title, url_for(child.page) %>
              <% else %>
                <li><a href="#"><%= child.item_title %></a></li>
              <% end %>
            <% end %>
          <% end %>
        <% else %>
          <% if nav_item.has_page? %>
            <%= navbar_item nav_item.item_title, url_for(nav_item.page) %>
          <% else %>
            <li><a href="#"><%= nav_item.item_title %></a></li>
          <% end %>
        <% end %>
      <% end %>
      <li><%= navbar_item t('.events'), events_path %></li>
    <% end %>
    <%= navbar_group align: 'right' do %>
      <% if current_user %>
      <%= navbar_dropdown "Settings" do %>
        <li><%= navbar_item t('.account_settings'), edit_user_path(current_user) %></li>
        <li><%= navbar_item t('.page_management'), pages_path if can? :manage, Page %></li>
        <li><%= navbar_item t('.user_management'), users_path if can? :manage, User %></li>
      <% end %>
        <%= navbar_text current_user.email %>
        <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <%= navbar_item "Log In", new_user_session_path %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
