<% if current_user %>
  <div class="row">
    <h3><%= t(:tools) %><span class="pull-right sidebar-glyph glyphicon glyphicon-wrench"></span></h3>
      <ul>
        <li><%= link_to t('.account_settings'), edit_user_path(current_user)    %></li>
        <li><%= link_to t('.new_post'), new_post_path    if can? :create, Post  %></li>
        <li><%= link_to t('.manage_pages'), pages_path   if can? :manage, Page  %></li>
        <li><%= link_to t('.manage_users'), users_path   if can? :manage, User  %></li>
        <li><%= link_to t('.manage_events'), events_path if can? :manage, Event %></li>
        <li><%= link_to t('.manage_images'), images_path if can? :manage, Image %></li>
        <li><%= link_to t('.manage_tags'), tags_path     if can? :manage, Tag   %></li>
      </ul>
  </div>
<% end %>
<div class="row hidden-sm hidden-xs">
  <h3>Twitter <span class="pull-right"><%= image_tag "twitter.svg" %></span></h3>
  <ul id="twitter-feed">
    <%= render partial: 'tweet', collection: @tweets %>
  </ul>
</div>
<div class="row">
  <h3><%= t(:calendar) %><span class="pull-right sidebar-glyph glyphicon glyphicon-calendar"></span></h3>
  <ul class="calendar-feed">
    <%= render @events %>
  </ul>
</div>
<div class="row sidebar-links">
  <h3><%= t(:links) %><span class="pull-right sidebar-glyph glyphicon glyphicon-link"></span></h3>
  <h4><a href="#">Facebook</a></h4>
  <h4><a href="#">KFS AB</a></h4>
</div>
