<% if @images.blank? %>
  <h3><%= t('.no_images') %></h3>
  <%= t('.no_images_lead') %>
<% end %>

<div class="row gallery-parent">
  <% @images.each do |image| %>
    <% if image.image_stored? %>
      <div class="col-sm-3 img-library">
        <%= link_to image.image.url,
            data: { toggle: "lightbox", gallery: "images", parent: ".gallery-parent"}  do %>
          <%= image_tag image.image.thumb('300x300#').url, class: "img-responsive img-thumbnail" %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>

<% content_for :sidebar do %>
  <% if can? :manage, Image %>
    <div class="row">
      <h3><%= t(:tools) %></h3>
      <ul>
        <li><%= link_to t('.new_image'), new_image_path %></li>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <h3><%= t(:filter) %></h3>
    <%= bootstrap_form_tag url: images_path, method: 'get' do |f| %>
      <p>
        <%= f.text_field :search, value: @search %>
        <%= f.collection_select :tag, @tags, :id, :title, { include_blank: true, label: t('.filter') }, { id: 'select2'} %>
        <%= f.submit %>
        <%= link_to t('.reset'), images_path %>
      </p>
    <% end %>
  </div>
<% end %>
