<div class="page-header">
  <h1><%= t('.images') %></h1>
</div>

<div id="image-feed">
  <%= render 'image_feed' %>
</div>

<%= will_paginate @images, renderer: BootstrapPagination::Rails %>

<% content_for :sidebar do %>
  <% if can? :manage, Image %>
    <div class="row">
      <h3><%= t(:tools) %><span class="pull-right sidebar-glyph glyphicon glyphicon-wrench"></span></h3>
      <ul>
        <li><%= link_to t('.new_image'), new_image_path %></li>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <%= render 'filter', path: images_path %>
  </div>
<% end %>
