<div class="page-header">
  <h1><%= t('.images') %></h1>
</div>

<div id="image-feed">
  <%= render 'image_feed' %>
</div>

<% content_for :sidebar do %>
  <% if can? :manage, Image %>
    <div class="row">
      <h3>
        <%= t(:tools) %>
        <%= fa_icon('wrench', class: 'pull-right') %>
      </h3>
      <ul>
        <li><%= link_to t('.new_image'), new_image_path %></li>
        <li><%= link_to t('.edit_cover_images'), settings_path %></li>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <%= render 'filter', tags: @tags, path: images_path %>
  </div>
<% end %>
