<!DOCTYPE html>
<html>
  <head>
    <title>Teknologkåren vid LTH · The Student Union at Lund University, Faculty of Engineering</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= favicon_link_tag 'favicon.png' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'application/navbar' %>

    <%# Template Dependency: application/banner_carousel  %>
    <%= banner_image %>

    <div class="container" id="content">
      <%= render 'application/flash' %>

      <% if content_for?(:sidebar) %>
        <div class="row">
          <div class="col-md-8" id="main-content">
            <%= yield %>
          </div>
          <div class="col-md-4">
              <div id="sidebar">
                <%= yield :sidebar %>
              </div>
            </div>
          </div>
        </div>
      <% else %>
        <%= yield %>
      <% end %>
    </div>
    <%= render 'application/guilds' %>
    <%= render 'application/footer' %>
  </body>
</html>

